body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #363636;
    color: white;
    scrollbar-width: thin;          /* "auto" or "thin"  */
    scrollbar-color: red black;   /* scroll thumb & track */ 
  }

  *::-webkit-scrollbar {
    width: 12px;
  }
  *::-webkit-scrollbar-track {
    background: black;
  }
  *::-webkit-scrollbar-thumb {
    background-color: red;
  }

  main {
    flex: 1 0 auto;
  }

  input, span {
      color: white !important;
  }
  ul.collection, li.dark {
      background-color: black !important;
  }

ul li {
    word-break: break-all;
}

code {
    background-color: #363636;
}